.bookGrid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  max-width: 800px;
  height: 100%;
}
.bookGrid .bookRender {
  margin: 5px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 300px;
  border: 5px solid black;
}
.bookGrid .bookRender img {
  z-index: 1;
  width: 150px;
  height: 200px;
  margin: 5px;
  padding: 2px;
}
.bookGrid .bookRender fa-icon {
  font-size: 90%;
}
.bookGrid .bookRender p {
  font-size: 90%;
}