
// Item 2 . Set the Max width to 800 px and display the objects in two columns rather than five on booklistcomponent.scss


.bookGrid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 400px 400px;
    margin: 5px;
    max-width: 800px;
    height: 100%;
    border: 5px solid black;

    //Item 1 -added Margin and Padding

    .bookRender{
        margin: 5px;
        padding: 5px;
        display: flex;
        flex-direction: row;
        width: 100px;
        height: 100px;

        //item 7 - buylink styling

        a {
            z-index: -1;
            width: 100%;
        }

        img{
            z-index: 1;
            width: 50px;
            margin: 10px;
            border: 5px solid black;

        } 
    
        fa-icon {
            font-size: 90%;
        }
    
        p {
    
            font-size: 20%;   
            width: 20%;
    
        }
    }
}
