// Item 2 . Set the Max width to 800 px and display the objects in two columns rather than five on booklistcomponent.scss


.bookGrid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  max-width: 800px;
  height: 100%;

  //Item 1 -added Margin and Padding

  .bookRender {
    margin: 25px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 300px;
    border: 5px solid black;

    //item 7 - buylink styling

    // a {
    //   z-index: -1;
    //   width: 150px;
    //   height: 200px;
    // }

    img {
      z-index: 1;
      width: 150px;
      height: 200px;
      margin: 5px;
      padding: 2px;

    }

    fa-icon {
      font-size: 90%;
    }

    p {

      font-size: 90%;

    }
  }
}
