.bookGrid {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5%;
  width: 100%;
}

.bookRender {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 150px;
  height: 250px;
}
.bookRender img {
  position: absolute;
  width: 150px;
  opacity: 0.1;
  height: 250px;
}
.bookRender img:hover {
  opacity: 1;
}
.bookRender fa-icon {
  font-size: 150%;
}
.bookRender p {
  font-size: 100%;
  width: 20%;
}