
.bookGrid {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5%;
    width: 100%;

}

.bookRender{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 150px;
    height: 250px;

    img{
        position: absolute;
        width: 150px;
        opacity: 0.1;
        height: 250px;

        &:hover{
            opacity: 1;
        }
    } 
    fa-icon {
        font-size: 150%;
    }

    p {

        font-size: 100%;   
        width: 20%;

    }
}