<!-- Item 3 . Change book image to title like ‘Book Search’ -->
<!-- Item 4. Make the search to look more like googles style using spans to hange colour of letters -->


<section class="HomePage">
    <h1>
        <span class="blue">B</span> 
        <span class="red">o</span> 
        <span class="yellow">o</span> 
        <span class="green">k</span> 

        <span class="blue"> S</span> 
        <span class="red">e</span> 
        <span class="yellow">a</span> 
        <span class="blue">r</span> 
        <span class="green">c</span> 
        <span class="red">h</span> 
    </h1>
    <router-outlet></router-outlet>
</section>