@import '../sass/variables';

// Item 3 . Change book image to title like ‘Book Search’ -->
.HomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  h1 {
    font-size: 60px;
    padding: 10px;
    text-align: center;

      .blue
      {
        color: $blue-colour1;
      }
      .red
      {
        color: $red-colour1;
      }
      .yellow
      {
        color: $yellow-colour1;
      }
      .green
      {
        color: $green-colour1;
      }
  }
}
